[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.8.3"
aiosignal = "==1.2.0"
apscheduler = "==3.6.3"
async-timeout = "==4.0.2"
attrs = "==22.1.0"
"backports.zoneinfo" = "==0.2.1"
beautifulsoup4 = "==4.12.2"
beautifultable = "==1.1.0"
bs4 = "==0.0.1"
cachecontrol = "==0.12.11"
cachetools = "==4.2.2"
cachy = "==0.3.0"
certifi = "==2022.9.24"
cffi = "==1.16.0"
charset-normalizer = "==2.1.1"
cleo = "==0.8.1"
click = "==8.1.3"
clikit = "==0.6.2"
consultor = "==0.2.0"
crashtest = "==0.3.1"
cryptography = "==41.0.5"
debugpy = "==1.6.3"
distlib = "==0.3.5"
dnspython = "==2.4.2"
filelock = "==3.7.1"
flask = "==2.2.2"
frozenlist = "==1.3.1"
html5lib = "==1.1"
idna = "==3.4"
importlib-metadata = "==5.0.0"
itsdangerous = "==2.1.2"
jedi = "==0.18.1"
jeepney = "==0.8.0"
jinja2 = "==3.1.2"
keyring = "==23.7.0"
lockfile = "==0.12.2"
markupsafe = "==2.1.1"
mechanize = "==0.4.8"
msgpack = "==1.0.4"
multidict = "==6.0.2"
numpy = "==1.23.3"
packaging = "==21.3"
parso = "==0.8.3"
pastel = "==0.2.1"
pexpect = "==4.8.0"
pkginfo = "==1.8.3"
platformdirs = "==2.5.2"
pluggy = "==1.0.0"
poetry = "==1.1.14"
poetry-core = "==1.0.8"
portal = "==0.3.1"
ptyprocess = "==0.7.0"
pycparser = "==2.21"
pyflakes = "==2.5.0"
pylev = "==1.4.0"
pymongo = "==4.6.0"
pyparsing = "==3.0.9"
python-lsp-jsonrpc = "==1.0.0"
python-telegram-bot = "==13.14"
pytoolconfig = "==1.2.2"
pytz = "==2022.6"
pytz-deprecation-shim = "==0.1.0.post0"
replit = "==3.2.4"
replit-python-lsp-server = "==1.15.9"
requests = "==2.31.0"
requests-toolbelt = "==0.9.1"
rope = "==1.3.0"
secretstorage = "==3.3.2"
shellingham = "==1.4.0"
six = "==1.16.0"
soupsieve = "==2.3.2.post1"
tabulate = "==0.9.0"
telegram = "==0.0.1"
toml = "==0.10.2"
tomli = "==2.0.1"
tomlkit = "==0.11.1"
tornado = "==6.1"
typing-extensions = "==3.10.0.2"
tzdata = "==2022.6"
tzlocal = "==4.2"
ujson = "==5.5.0"
urllib3 = "==1.26.12"
virtualenv = "==20.16.2"
wcwidth = "==0.2.9"
webencodings = "==0.5.1"
werkzeug = "==2.2.2"
whatthepatch = "==1.0.2"
yapf = "==0.32.0"
yarl = "==1.8.1"
zipp = "==3.8.1"

[dev-packages]

[requires]
python_version = "3.11"
